@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white-color);
    font-family: Poppins, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --black-color: #000000;
    --grey-color: #3E3636;
    --red-color: #D72323;
    --white-color: #F5EDED;
  }

/* Contenedor principal */
#flex-container {
    display: flex;
}

/* Aside */

.cajamenu {
    background: var(--grey-color);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 

    & .menu {
        width: 75%; 
        height: 85%;
        background: var(--white-color); 
        color: var(--black-color); 
        padding: 30px 25px; 
        margin-bottom: 0;

        & label {
            margin-bottom: 25px;
            margin-top: 15px;

        }
        & select {
            width: 100%;
            margin-bottom: 15px;
            background-color: var(--red-color);
            color: var(--white-color);
            border: none;
            padding: 10px 15px;
            border-radius: 10px;
            cursor: pointer;
        }
        & button {
            width:100%;
            background-color: var(--grey-color);
            color: var(--white-color);
            border: none;
            padding: 15px 10px;
            border-radius: 30px;
            cursor: pointer;
            align-items: center;
            margin-top:60px;
        }
        & button:hover {
            font-weight: 800;
        }
        & .imagen-footer {
            margin-top: 90%;
            width: 100%;
            height: 5%;
            bottom: 0;
            position: center;
        
        }
    }
}



.noDisplay {
    display: none;
}
.display {
    display: flex;
}

.haflWidth {
    width: 20%;
}

.noWidth {
    width: 0%;
}

#hamburguer{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2%;
    color: #F5EDED;
    cursor: pointer;
    z-index: 1000;
    font-size: 20px; 
    padding: 15px; 
    margin-right: 15px;
}

#close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2%;
    color: #F5EDED;
    cursor: pointer;
    z-index: 1000;
}

/* Menu responsive*/ 
@media screen and (max-width: 600px){
    .cajamenu {
       position: absolute;
       display: none;
    }
    .haflWidth {
        width: 90%;
        display: flex;
    }

}
.fa-bars.noDisplay {
    display: none; /* Botón de hamburguesa inicialmente oculto */
  }


/* Content */
.content {
    width: 100%;
    height: 100vh; /* Rubi: Agregue este cambio*/
}

header{
    height: auto; /* Rubi: Agregue este cambio*/
    background-color: var(--red-color);
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

main {
    height: auto; /* Rubi: Agregue este cambio*/
    color: var(--grey-color);
    text-align: center;
    font-size: 14px;
    padding: 1%;
}

.computeStats {
    height: auto;
    background-color: #3e36367c;
    color: var(--white-color);
    text-align: center;
    align-items: center;
    font-size: 24px;

} 

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Rubi: Agregue este cambio*/
    background-color: var(--red-color);
    color: var(--white-color);
    text-align: center;
    padding: .95%;
}

/* Cards */
#root {
    width: 100%;
    overflow: auto; /* Rubi: Cambie el scrooll (Probando) */
    height: 70%;
}

/* HTML Dinámico */
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }

.root-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 40px;
    overflow: hidden;
    color: var(--white-color);
    background-color: var(--black-color);
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    border-radius: 5%;
}

[itemscope] img {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

[itemprop="name"] {
    width: 80%;
    font-weight: bolder;
    background-color: var(--grey-color);
    padding: 8px;
}

[itemprop="team"] {
    font-weight: bolder;
    color: var(--red-color);
}










