@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white-color);
    height: 100vh;
    font-family: Poppins;
}

:root {
    --black-color: #000000;
    --grey-color: #3E3636;
    --red-color: #D72323;
    --white-color: #F5EDED;
  }

header{
    background-color: var(--red-color);
    color: var(--white-color);
    text-align: center;
}

main {
    color: var(--grey-color);
    text-align: center;
}

#root {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

#root .cards {
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    width: 300px;
    margin: 30px;
}

img{
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 20px;
}





footer{
    background-color: var(--red-color);
    color: var(--white-color);
}
